# Object files
*.o
*.ko
*.obj
*.elf
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.tlog
*.sdf
*.idb
*.pdb
*.sln
*.rc
*.user
*.log
*.cache
*.suo
*.res
*.manifest
*.filters
*.vcxproj
*.ipch
*.lastbuildstate
*.ilk
*.unsuccessfulbuild
